<!-- snippets/product-bullets.liquid -->
<ul class="product-bullets">
  <li><span class="product-bullets__text">{{ 'products.bullets.bullet_1' | t }}</span></li>
  <li><span class="product-bullets__text">{{ 'products.bullets.bullet_2' | t }}</span></li>
  <li><span class="product-bullets__text">{{ 'products.bullets.bullet_3' | t }}</span></li>
</ul>
<style>
  ul.product-bullets {
    padding: 0;
    /*margin: 20px 0;
    padding: 10px 20px 10px 40px;
    background: {{ section.settings.bg }};
    min-height: 140px;*/
  }
  ul.product-bullets li {
    margin: 0 10px 0 0;
    list-style: none;
    display: inline-block;
  }
  ul.product-bullets li:before {
    content: '♡';
    margin-right: 2px;
    font-size: 1.3rem;
  }
  .product-bullets__text {
    font-weight: normal;
    font-size: 1.3rem;
    /*position: relative;
    top: -5px;*/
  }
</style>